{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Lindsey Williams RDHAP{% endblock %}
{% block meta_description %}Contact Lindsey Williams RDHAP{% endblock %}
{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/Child3_BlackW.png' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Contact</h2>
        <div class="line"></div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<!-- ***** Contact Area Start ***** -->
{% if message_name %}
  <center>
    <h2>Thank You {{ message_name }}!</h2>
    <p>Your message has been received and Lindsey will be reaching out shortly...</p>
  </center>
  <br/><br/><br/>
{% else %}
<section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/Child3_BlackW.png' %});">
  <div class="container">
    <div class="row">
      <!-- Section Heading -->
      <div class="col-12">
        <div class="section-heading text-center white">
          <h2>Send a Message</h2>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Contact Form -->
        <div class="appointment-form">
          <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="captcha" id="id_captcha">
            <div class="col-12 text-center">
              <button type="submit" class="btn dento-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- reCAPTCHA v3 Script -->
<script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('{{ RECAPTCHA_PUBLIC_KEY }}', {action: 'submit'}).then(function(token) {
      document.getElementById('id_captcha').value = token;
    });
  });
</script>
{% endif %}
<!-- ***** Contact Area End ***** -->

{% endblock %}