{% extends 'base.html' %}
{% load static %}
{% block title %} POLISHED Mobile Services {% endblock %}
{% block meta_description %} Lindsey Williams RDHAP Services {% endblock %}
{%block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Mobile Dental Hygiene Services</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Mobile Dental Hygiene Services</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Blurp Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="line">
            <p>How It Works: Getting started with Polished is easy. You can reach out to us via phone, email, our website, or simply click the link for new patients. Once we receive your details, we will contact you to discuss your specific needs and explore how we can best assist you. If you have any questions or concerns, please do not hesitate to get in touch with our team. We are here to help. 

            What to Expect During Your First Visit: The initial visit includes an oral hygiene assessment, an oral cancer screening, a teeth cleaning, a fluoride treatment, and personalized oral hygiene instructions tailored to the patient's unique needs. This appointment lasts approximately 60 minutes, allowing us ample time to address your concerns and provide the care you deserve. Before scheduling any further treatment, the RDHAP will discuss the recommended treatment plan with you or your healthcare guardian. Our goal is to align our services with your individual wishes and preferences.</p>
            <div class="line"></div>
          </div>
        </div>
      </div>

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5> Teeth Cleanings </h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s7.png' %}" alt="">
            </div>
            <h5> Periodontal Maintenance </h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s8.png' %}" alt="">
            </div>
            <h5> Oral Hygiene Assessments </h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5> Oral Cancer Screenings</h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s10.png' %}" alt="">
            </div>
            <h5> Patient Specific Oral Hygiene Instructions </h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5> Denture Cleaning </h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5> New Patient Appointment </h5>
            <p></p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5> Topical Fluoride Application </h5>
            <p></p>
          </div>
        </div>
        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Dental referrals </h5>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/Child2_BlackW.png' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/BJPalmer_150.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“The preservation of health is easier than the cure of disease.”</h5>
                <h6>BJ Palmer</h6>
                <p></p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/DollyP_150.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“If you see someone without a smile, give them one of yours.”</h5>
                <h6>Dolly Parton</h6>
                <p>Musician</p>
              </div>
            </div>

            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide d-flex align-items-center">
              <!-- Thumbnail -->
              <div class="testimonial-thumb">
                <img src="{% static 'website/img/bg-img/MotherT_150.png' %}" alt="">
              </div>
              <!-- Content -->
              <div class="testimonial-content">
                <h5>“Its not how much we give, but how much love we put into giving.”</h5>
                <h6>Mother Theresa</h6>
                <p>GodMother</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

 <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>The Latest News</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="https://www.nidcr.nih.gov/sites/default/files/2019-09/dry-mouth-and-older-adults.pdf">
              <img src="{% static 'website/img/bg-img/drymouth.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.nidcr.nih.gov/sites/default/files/2019-09/dry-mouth-and-older-adults.pdf" class="post-title">DRY MOUTH & OLDER ADULTS</a>
              <p>Dry mouth is the feeling that there is not enough saliva in the 
              mouth. Common causes of dry mouth in older adults include 
              side effects of certain medications and dehydration, when 
              you lose more fluid than you take in.
              </p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 28 Sep 2018</a>
                <a href="#"><i class="icon_chat_alt"></i> 3 Comments</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="https://www.colgateprofessional.com/hygienist-resources/career-development/what-is-an-rdhap">
              <img src="{% static 'website/img/bg-img/whatis.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.colgateprofessional.com/hygienist-resources/career-development/what-is-an-rdhap" class="post-title">What is an RDHAP?</a>
              <p>To practice in settings outside a traditional dental office, a registered dental hygienist can pursue specialized training to obtain a specific license as a Registered Dental Hygienist in Alternative Practice (RDHAP)</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 1 Jan 2023</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Blog Item -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-blog-item mb-100">
            <a href="https://www.nidcr.nih.gov/sites/default/files/2020-08/oral-health-aging-brushing.pdf">
              <img src="{% static 'website/img/bg-img/blog3Image.png' %}" alt="">
            </a>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.nidcr.nih.gov/sites/default/files/2020-08/oral-health-aging-brushing.pdf" class="post-title">Oral Health & Aging</a>
              <p>Information for Caregivers</p>
              <div class="post-meta">
                <a href="#"><i class="icon_clock_alt"></i> 1 Jan 2023</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}